* {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

.header {
  min-height: 100vh;
  /* width: 100%;*/
}

nav {
  display: flex;
  padding: 3% 7%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 150px;

}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: black;
  text-decoration: none;
  font-size: 16px;
}

.nav-links ul li a:hover{
  color: #8a8a8a;
}

.nav-links ul li::before {
  content: '';
  width: 0%;
  height: 3px;
  background: #8a8a8a;
  display: block;
  margin-bottom: 10px;

}

.nav-links ul li:hover::before {
  width: 100%;
  transition: 0.5s;
}

.pictures {
  flex-basis: 90%;
  border-radius: 20px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.pictures img {
  display: block;
  margin: auto;
  max-height: 640px;
}

.delivery {
  width: 80%;
  margin: auto;
  padding: 50px 0 50px 0;
  text-align: center;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

p {
  color: #777;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.elements {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.options {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}

.options:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.locations {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 50px 0 50px 0;
}

.stores {
  flex-basis: 50%;
  border-radius: 10px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.stores img {
  max-height: 500px;
  width: 100%;
}

.footer {
  width: 100%;
  background: #800000;
  text-align: center;
  padding: 30px 0 100px;
}

.footer h3{
  color: #ffff;
}

.footer hr {
  width: 40%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.icons .fa {
  font-size: 30px;
  color: #ffff;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

/* Code for small screens */

@media(max-width :800px) {
  nav {
    display: block;
    align-items: center;
  }

  .logo {
    text-align: center;
  }

  .nav-links {
    text-align: center;
    margin-top: 1em;
  }
}

@media(max-width :700px) {

  .pictures img {
    max-width: 75vh;
  }

  .elements {
    display: block;
  }

}
